<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QLDiemSinhVienConnectionString"
            connectionString="Data Source=vdl\sqlexpress01;Initial Catalog=QLDiemSinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>